<div>
      <i id="btnPrint" class="printer-btn fa fa-2x fa-print" aria-hidden="true"></i> 
	
</div>




<div id="printThis">
	<div class="container">
		<div id="resume" class="row">
			<div class="col-xs-12  col-md-12">

				<div class="row" >
					<h1>MALYNDA POULSEN</h1>
					<img style="height: 8%;" src="img/mylogo1.png" alt="logo">
					<div class="col-xs-12 col-md-12">
						<h3>malyndapoulsen@gmail.com</h3>
						<h3 >509.301.7707</h3>
					</div>
				</div>

				<div id="text" class="row">
					<div class="col-xs-12  col-md-12">
						<hr>
						<p style="font-size: 1.5vw;">
							I’m an extremely skilled studio artist and designer with the unique ability to integrate technology and art through well-designed
							imagery and intuitive interfaces. My portfolios evidence my wide skill set, both technically and organizationally.
						</p>
						<hr>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-md-12">
						<h4>SKILLS</h4>
						<p style="font-size: 1.5vw;">Languages: HTML5, CSS, Javascript.</p>
						<p style="font-size: 1.5vw;">Libraries and Frameworks: jQuery, AngularJS, Bootstrap.</p>
						<p style="font-size: 1.5vw; ">Tools: Photoshop, Illustrator, VS Code, Github, Word, PowerPoint.</p>
					</div>
				</div>


				<div class="one row">
					<h4 style="color: black;">DESIGNER</h4>
					<ul>
						<li>

							Delivered mobile-ready and cross-browser compatible websites with responsive designs for a winery, and a restaurant.

						</li>
						<li>
							Created rapid prototypes of websites, wireframes, and storyboards within the client’s specified timeframes and budgets.

						</li>
						<li>

							Rebranded a local cover band and a winery with new websites and logos.

						</li>
						<li>
							Designed posters, postcards, and invitations for all art openings.
						</li>
					</ul>

				</div>

				<div class="row two">
					<h4 style="color: black;">COMMUNICATOR</h4>
					<ul>
						<li>
							Taught Photoshop, animation, and visual communication strategies.
						</li>
						<li>Simplified complex concepts and processes into teachable units to enhance understandability.

						</li>
						<li>
							Wrote dozens of letters resulting in a 100% admission and employment success rate for recommended students.
						</li>
						<li>
							Proposed and received capital funding, which was 20% of the department’s total capital budget in 2013.
						</li>
						<li>
							Designed and taught 5 courses with quantifiable evaluation systems including group critiques, syllabi, written assignments,
							PowerPoint presentations, and demonstrations.
						</li>

					</ul>

				</div>




				<div class="row three">
					<h4 style="color: black;">DEVELOPER</h4>
					<ul>
						<li>

							Developed interactive user interfaces with responsive designs for web based games.

						</li>
						<li>
							Created games with attack modes, randomly generated defenses, power levels, digital images, and gif animations.

						</li>

					</ul>

				</div>



				<div class="row four">
					<h4 style="color: black;">PROJECT MANAGEMENT SKILLS</h4>
					<ul>

						<li>Executed the opening of multiple galleries and determined all budgets and timeframes.

						</li>
						<li>
							Developed event themes, created the artwork, and delivered and installed all sales.
						</li>
						<li>
							Managed the budget, contracts, leases, and all state and federal requirements for the gallery.
						</li>
						<li>
							Directed all marketing and public relations including social media, local papers and magazines, events calendars, blogs,
							podcasts, texts, emails, and local news stations.
						</li>
						<li>
							Scheduled all aspects of live events including food, photography, and facilities.
						</li>
						<li>
							Received and managed a State of Idaho grant, helping at-risk youth in conjunction with the Boys and Girls Club.
						</li>
					</ul>

				</div>


				<div class="row five">
					<h4 style="color: black;">EDUCATION</h4>
					<ul>
						<li>
							Boise Code Works
						</li>
						<li>
							MFA Boise State University

						</li>
						<li>
							BFA Boise State University
						</li>

					</ul>

				</div>










			</div>
		</div>
	</div>





</div>