

      <!--<div class="row techskills">
                <h4 style="color: black;">TECHNICAL SKILLS</h4>
                <ul <h6>LANGUAGES</h6>
            
                  <li>HTML5
                  </li>
                  <li>
                    CSS
                  </li>
                  <li>
                   Javascript
                  </li>
                </ul>

                          <ul <h6>LIBRARIES and FRAMEWORKS</h6>
            
                  <li>jQuery
                  </li>
                  <li>
                    AngularJS
                  </li>
               
                </ul>
                                 <ul <h6>TOOLS</h6>
            
                  <li>Photoshop
                  </li>
                  <li>
                    Microsoft Word and PowerPoint
                  </li>
                  <li>
                    Illustrator
                  </li>
                  <li>
                    VS Code
                  </li>
                  <li>
                    Github
                  </li>
               
                </ul>

              </div>-->



<!--<div class="skillsets col-xs-12  col-sm-12  col-md-4 col-lg-4" >

					<div class="row" style="margin-top: 10%; margin-left: 0; margin-right: auto;  width: 100%; ">
						<div class="tech-box col-xs-12 col-md-12" style="padding: 10 10;   background-color: rgba(251, 251, 251, .2);">
							<h3 style=" margin-bottom: 5%; padding-top: 5%;  color: #fbfbfb;">
								<u>TECHNICAL SKILLS</u>
							</h3>

							<div class="row">
								<div class="col-xs-12 col-md-12">
									<label style="text-align: left;" for="Photoshop">HTML</label>
									<div class="progress" style="border: 2px solid black;">
										<div class="progress-bar pb-dark" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="background: darkgrey; width: 85%;">
											<span >90%</span>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 col-md-12">
									<label style="text-align: left;" for="Photoshop">CSS</label>
									<div class="progress" style="border: 2px solid black;">
										<div class="progress-bar pb-dark" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="background: darkgrey; width:80%;">
											<span >90%</span>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 col-md-12">
									<label style="text-align: left;" for="Photoshop">Photoshop</label>
									<div class="progress" style="border: 2px solid black;">
										<div class="progress-bar pb-dark" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="background: darkgrey; width:90%;">
											<span >90%</span>
										</div>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-xs-12 col-md-12">
									<label style="text-align: left; " for="Photoshop">Bootstrap</label>
									<div class="progress" style="border: 2px solid black;">
										<div class="progress-bar pb-dark" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="background: darkgrey; width:80%;">
											<span >90%</span>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 col-md-12">
									<label style="text-align: left; " for="Photoshop">Javascript</label>
									<div class="progress" style="border: 2px solid black;">
										<div class="progress-bar pb-dark" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="background: darkgrey; width:60%;">
											<span >90%</span>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 col-md-12">
									<label style="text-align: left;" for="Photoshop">jQuery</label>
									<div class="progress" style="border: 2px solid black;">
										<div class="progress-bar pb-dark" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="background: darkgrey; width:40%;">
											<span >90%</span>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 col-md-12">
									<label style="text-align: left; " for="Photoshop">AngularJS</label>
									<div class="progress" style="border: 2px solid black;">
										<div class="progress-bar pb-dark" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="background: darkgrey; width:30%;">
											<span >90%</span>
										</div>
									</div>
								</div>
							</div>

			

							<div class="row">
								<div class="col-xs-12 col-md-12">
									<label style="text-align: left;" for="Photoshop">Illustrator</label>
									<div class="progress" style="border: 2px solid black;">
										<div class="progress-bar pb-dark" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="background: darkgrey; width:20%;">
											<span>90%</span>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 col-md-12">
									<label style="text-align: left; " for="Photoshop">Word and PowerPoint</label>
									<div class="progress" style="border: 2px solid black;">
										<div class="progress-bar pb-dark" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="background: darkgrey; width:90%;">
											<span >90%</span>
										</div>
									</div>
								</div>
							</div>



						</div>

					</div>
-->




 




<!--
	<div class="row bg-full">

	<div style="position: relative;  height: 100%; padding-right: 0px;" class="text-center col-xs-12 col-sm-12 col-lg-12;">

		<div id="main" class="row homelft image-responsive">
			<div class="left-panel" style="position: relative;
    left: 4%;
    top: 0;
    width: 100%;
    height: 100%
    padding-bottom: 0;">

				<img src="img/sassy.png" alt="neon sign" style="height: 43%;
    display: block;
    border-radius: 50%;
    border: 4px solid black;
    margin-left: -3%;
   
    margin-top: 0%;">

				<img src="img/me1.jpg" alt="image of me" style="
  
      height: 72%;
    position: absolute;
        top: 45%;
    left: 28%;
    border-radius: 50%;
    border: 3px solid grey;
  
      webkit-filter: grayscale(100%);
    filter: grayscale(100%);">
			</div>

			<div style="position: absolute;     
        top: 50%;
      left: 16%;
      text-align: left;">
				<h1>
					MaLynda Poulsen</h1>
				<img src="img/mylogo1.png" style="height: 13%; float: left;" alt="">



				<div class="col-xs-12 col-md-12">
					<div class="row">
						<em><p style="color: #4f4b4b; letter-spacing: 3px; margin-top: 3%;">Designer, Communicator, Developer</p><em>

          </div>
            <div style="margin-top: 5%;" class="row">
           <em><p style="color: #4f4b4b; letter-spacing: 0px; font-family: 'Open Sans', sans-serif;"> I’m an extremely skilled studio artist and educator with the unique ability to integrate technology and art through well-designed imagery and intuitive interfaces. <br>
              My portfolios evidence my wide skill set, both technically and organizationally, and illustrate my ability to work well in a variety of settings. I strive for collaboration, collegiality, and respect for diverse ideas and opinions in all I undertake. 
            </p><em> 

            </div>
              <div class="row">
                <h4 style="color: black;">DESIGNER</h4>
                <ul>
                  <li>
                    Delivered cross-browser compatible, mobile ready websites with responsive designs.
                  </li>
                  <li>Created rapid prototypes of wine labels, logos, and websites within the agreed timeframes and budgets.

                  </li>
                  <li>
                    Rebranded several businesses including new logos, business cards, wireframes, and websites.
                  </li>
                  <li>
                    Designed posters, postcards, and invitations for all art events.
                  </li>
                </ul>

              </div>

                      <div class="row">
                <h4 style="color: black;">COMMUNICATOR</h4>
                <ul>
                  <li>
                Designed 5 courses with quantifiable evaluation systems including group critiques, syllabi, written assignments, PowerPoint presentations, and demonstrations.
                  </li>
                  <li>Cultivated and sustained working relationships and connections through group and curatorial projects.

                  </li>
                  <li>
                   Wrote dozens of letters for students, with a 100% admission and employment success rate. 
                  </li>
                  <li>
                  Used dynamic teaching strategies to breakdown complex concepts and processes into manageable sections.
                  </li>
                  <li>
                    Proposed and secured 20% of the department’s total capital budget for studio purchases in 2013.
                  </li>
                  <li>
                    Advised and mentored students.
                  </li>
                  <li>
                    Taught Photoshop, animation, and semiotics.
                  </li>
                </ul>

              </div>




                      <div class="row">
                <h4 style="color: black;">DEVELOPER</h4>
                <ul>
                  <li>
                Developed interactive user interfaces. 
                  </li>
                  <li>Created games with attack modes, randomly generated defenses, power levels, digital images, and 10 gif animations. 

                  </li>
                  
                </ul>

              </div>



               <div class="row">
                <h4 style="color: black;">PROJECT MANAGEMENT SKILLS</h4>
                <ul>
                  <li>
                Taught 5 studio classes per year. 

                  </li>
                  <li>Demonstrated fiscal responsibility by managing a budget within 5% annually.

                  </li>
                  <li>
                  Coordinated independent studies with instructors from other departments to provide a rich educational experience for students.
                  </li>
                  <li>
                 Executed the opening of multiple galleries and determined all budgets and timeframes.
                  </li>
                  <li>
                    Managed the budget, contracts, leases, and all state and federal requirements for the gallery.
                  </li>
                  <li>
                    Performed all marketing and public relations including social media, local papers and magazines, events calendars, blogs, podcasts, texts, emails, and local news stations.
                  </li>
                  <li>
                    Developed event themes, created the artwork, installed all shows, and delivered and installed all sales.
                  </li>
                  <li>
                    Scheduled all aspects of live events including bands, food trucks, photographers, bartenders and servers, and special facilities.
                  </li>
                  <li>
                    Cultivated relationships with patrons. 
                  </li>
                </ul>

              </div>





            </div>

			</div>

		</div>
	</div>










</div>-->